<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Lo que estra entre corchetes y parentesis lo interpreta django, nunca se va a mostrar en el css -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Bienvenido a mi tarea 3.3
    </h1>
    <h3>
        Endpoints con verbo POST
    </h3>
    <ul>
        <li>/datos</li>
    </ul>

    <h3>
        Endpoints en browser para gráfica bubble
    </h3>
    <ul>
        <li>/bubblegraph</li>
    </ul>

</body>
</html>